:root{
    font-size: 16px;
}
hr{
    color:greenyellow;
}
/*preloader Style*/
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: black;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 2001;
}
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: greenyellow;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
.loaded .preloader {
    display: none;
}
/*preloader Style*/
body{
    margin: 0;padding: 0;
}
.row{
    display: flex; flex-flow: row wrap;
}
.row-nowrap{
    display: flex;
    flex-flow: row nowrap;
}
.col{
    flex:0 0 50%;
}
.col-25{
    flex: 0 0 40%;
}
.col-3{
    flex:0 0 33%;
}
.col-4{
    flex:0 0 30%;
}
.col-5{
    flex:0 0 20%;
}
.col-67{
    flex:0 0 15%;
}
.col-10{
    flex:0 0 10%;
}
.col-12{
    flex:0 0 100%;
    display: flex;
}
.nav{

}
.black-border{
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 15px;
    height: 20px;
}
.nav-link{
    color:black;
    transition: 0.3s;
    text-decoration: none;
}
.nav-link + .nav-link{
    margin-left: 1em;
}
.nav-link:visited{
    color:black;
}
.nav-link:hover{
    color:yellowgreen;
}
.userBlock,.outLog,.form-out{
    display: inline-block;
}
.form-out input{
    border-radius: 10px;
    border: none;
    background: black;
    color: white;
    height: 20px;
    width: 90px;
    margin-left: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.32s;
}
.form-out input:hover{
    color:greenyellow;
}
.col-align-mid{
    display: flex;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-evenly{
    justify-content: space-evenly;
}
.label{
    display: inline-block;
}
.header{
    height: 45px;
    background-color: ghostwhite;
}
.canvasInfo{}

.thisInfo{
padding-left: 15px;
}
.thisInfo>.thisLabel{
    display:inline-block;
}
.thisInfo #thisInfoValue{
    display:inline-block;
}
.fpsValue{}
.spheresBlock{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.sphere{
    display: flex; align-items: center;
    font-size: 24px;
}
.sphereImg{
    margin-right: 5px;
    height: 45px;
}
.main{
    width: 100%;
    display: flex; flex-flow: row wrap;
    justify-content: center;
}
.main .flexRow{
    display: flex;
}
.main .RowRelative{
    position: relative;
}
.main .index{
    border:1px solid red;
}
.container-siGUI{
    display: none;
    padding:7px;
    color:white;
}
.siGUI-Button{
    border-radius: 5px;
    border:1px solid yellow;
    outline: none;
    background-color: yellowgreen;
    color:white;
    text-transform: uppercase;
    padding: 5px 15px;
    transition: 0.7s;
}
.siGUI-Button:hover{
    background-color: orange;
}
.siGUI-Button-Level2{
    width: 100%;
    background-color: red;
    margin:5px 0;
}
.siGUI-Button-Algoritm{
    background-color: black;
    color:white;
    border:1px solid white;
    cursor: pointer;
}
.siGUI-Button-Algoritm:hover{
    background-color: black;
}
.siGUI-Button-Algoritm-Orange{
     background-color: black;
     color:orange;
     border:1px solid white;
 }
.siGUI-Button-Algoritm-Orange:hover{
    background-color: transparent;
}
.siGUI-Button-Algoritm-Yellow{
    background-color: black;
    color:yellow;
    border:1px solid white;
}
.siGUI-Button-Algoritm-Yellow:hover{
    background-color: transparent;
}
.siGUI-Button-Algoritm-Red{
    background-color: red;
    color:white;
    border:1px solid white;
}
.siGUI-Button-Algoritm-Green{
    background-color: black;
    color:greenyellow;
    border:1px solid white;
}

.siGUI-InputText{

}
.controlStage-smsOkno{
    color:black;
}
#hideInfo{
    display: none;
}
#thisPOST{
    display: none;
}
#siGUI{
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    top:0;left:0;
    width: 10%;
    height: 10%;
    overflow: auto;
}
#siGUI hr{
    display: none;
}
#siGUI.open{
    width: 20%;
    height: 50%;
}
#siGUI.open hr{
    display: block;
}
#siGUI-Down{
    background-color: rgba(0,0,0,0.7);
    color:white;
    position: absolute;
    bottom:0;left:0;
    width: 100%;
    height: 12%;
    overflow: auto;
    display: flex
}
#siGUI-Down.open{
    height: 22%;
}

#siGUI-Down-ControlButton{
    width: 10%;
    border: none;
    outline: none;
    background: none;
    font-size: 50px;
    color: black;
    -webkit-text-stroke: .02em orange;
    cursor: pointer;
    transition: 0.3s;
}
#siGUI-Down.open>#siGUI-Down-ControlButton{
    font-size: 90px;
    padding-bottom: 20px;
}
#siGUI-Down-Text{

}
.hide-hr hr{
    display: none !important;
}
#siGUI.open>.container-siGUI{
    display: block;
}
#OpenClose{
    width: 100%;
    height: 100%;
    /*max-width: 133px;*/
    /*max-height: 60px;*/
    border: none;
    outline: none;
    background: none;
    font-size: 50px;
    color: black;
    -webkit-text-stroke: .07em orange;
    cursor: pointer;
}
#index{
    position: relative;
}
#label_fps{

}
#debug{
    display: none;
    resize:vertical;
    overflow: auto;
    margin: 0 auto;
    width: 98%; min-height: 100px;
    background-color: black;
    color:white;
    padding: 10px 15px;
    font-size: 14px;
}
#debug *{
    display: inline-block;
}
#debug .r{color:red;}
#debug .o{color:orange}
#debug .y{color:yellow}
#buttonCloseThis{
    margin: 10px;
    padding: 6px 35px;
    text-align: center;
    background-color: black;
    color: white;
    outline: none;border:none;
    border-radius: 15px;
    font-size: 17px;
}
.link{
    text-decoration: none;
}
.link-User{
    color:red;
}
.link-User:hover{
    color:pink;
}
.link-User:visited{
    color:maroon;
}
.whiteAlert{
    display: none;
    position: absolute;
    top:90px;
    left:20%;
    background-color: white;
    border:1px solid black;
    border-radius: 15px;
    font-size: 17px;
    text-align: center;
    padding: 45px 0px;
    max-width: 800px;
    z-index: 1111;
    transition: 0.7s;
}
.firstVisitedBody{

}
.firstVisitedBody .whiteAlert{
    display: block;
}
.firstVisitedBody .animateButton{
    animation: animateButtonKey 2s infinite linear;
}
.firstVisitedBody .animateButton2{
    animation: animateButtonKey2 2s infinite linear;
}
@keyframes animateButtonKey {
    0%{
        background-color: black;
        color:red;
    }
    50%{
        background-color: white;
        color:green;
    }
    100%{
        background-color: black;
        color:red;
    }
}
@keyframes animateButtonKey2 {
    0%{
        color:red;
    }
    50%{
        color:green;
    }
    100%{
        color:red;
    }
}